* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}


/* header */

.header {
    margin: 0 auto;
}

.header__logo img {
    width: 166px;
    height: 51px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 60px 55px 42.72px;
}

.nav__models,
.nav__login {
    padding: 0;
    display: inline-block;
    list-style: none;
    white-space: nowrap;
}

.nav__models a:nth-child(1) {
    margin-left: 36.1px;
    margin-right: 59.4px;
}

.nav__models a:nth-child(2) {
    margin-right: 22px;
}

.nav__models a:nth-child(3) {
    margin-right: 40px;
}

.nav__models a:nth-child(4) {
    margin-right: 43px;
}

.nav__login .shop__link {
    margin-right: 28px;
}

.nav__login .login__link {
    margin-right: 28px;
}

.nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 5px;
    margin-top: 0px;
    border-bottom: 2px transparent solid;
    transition: 0.2s;
}

.nav__link:hover,
.nav__link_active {
    border-bottom: 2px solid #E51937;
    color: #E51937;
}

.burger-menu {
    width: 24px;
    height: 15px;
    cursor: pointer;
}

.preview {
    max-width: 100%;
}

.preview_model {
    text-align: center;
    background-image: url(../images/Tesla+car.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px calc(50%);
    min-height: 594px;
    max-width: 100%;
    margin-bottom: 26px;
}

.preview__model__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 95px;
    line-height: 110px;
}

.preview__model__subtitle {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 0px;
}


/* Первая секция */

.preview__characteristic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.characteristic__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.characteristic__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.characteristic__list {
    margin-right: 111px;
}

.characteristic__list .characteristic__item:nth-child(1) {
    margin-right: 80px;
}

.characteristic__list .characteristic__item:nth-child(2) .characteristic__img {
    margin-right: 1px;
}

.characteristic__text {
    align-self: flex-start;
}

.preview__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.characteristic__img {
    width: 46px;
    margin-right: 14px;
}

.characteristic__text_top {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    white-space: nowrap;
}

.characteristic__text_top span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
    margin-bottom: 13px;
}

.characteristic__text_bottom {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.test__image {
    margin-right: 7px;
}

.order__test {
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 4px 2px rgb(150, 150, 150));
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-right: 47px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 1.0s;
    color: #000000;
    white-space: nowrap;
}

.order__test:hover .test__image {
    animation: rotate_drive ease-in-out 1s 1;
}

@keyframes rotate_drive {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(-90deg);
    }
    50% {
        transform: rotateZ(90deg);
    }
    75% {
        transform: rotateZ(-90deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.order__button {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: color, background-color 0.3s;
}

.order__button_red {
    border: 2px solid #E51937;
    color: #E51937;
}

.order__button_red:hover,
.order__button_red:focus {
    color: #fff;
    background-color: #E51937;
}

.preview__vector-bottom {
    display: block;
    text-align: center;
}


/* Временно */

.interior,
.safety {
    display: none;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .nav__link {
        display: none;
    }
    .preview__characteristic {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .characteristic__list {
        margin-right: 0px;
    }
    .preview__order {
        margin-top: 34px;
        max-width: 100%;
    }
}

@media (max-width: 768px) and (min-width: 375px) {
    .wrapper {
        max-width: 768px;
    }
    .burger-menu img {
        width: 35px;
        height: 22px;
        margin-right: 15px;
    }
    .header__nav {
        margin: 25px 19px 75px 15px;
    }
    .nav__link {
        display: none;
    }
    .preview_model {
        max-width: 768px;
        min-height: 550px;
        background-image: url(../images/Tesla+car_tablet.jpg);
        background-position: 0px calc(50% + 40px);
    }
    .preview__model__title {
        font-weight: 600;
        font-size: 90px;
        line-height: 110px;
    }
    .preview__model__subtitle {
        font-weight: 500;
        font-size: 17px;
        line-height: 0px;
    }
    /* Характеристики */
    .preview__characteristic {
        margin: 0px 0px 60px 0px;
    }
    .characteristic__list {
        max-width: 375px;
        max-width: 100%;
        margin: 0px 0px 40px 0px;
    }
    .characteristic__item {
        margin-right: 0px;
    }
    .characteristic__img {
        width: 69px;
    }
    .characteristic__list .characteristic__item:nth-child(2) .characteristic__img {
        content: url(../images/Road_icon_tablet.png);
        height: 73px;
        width: 50px;
        margin-right: 14px;
    }
    .characteristic__list .characteristic__item:nth-child(1) {
        margin: 0px 78px 0px 0px;
    }
    .characteristic__list .characteristic__item:nth-child(2) {
        margin: 0px 5px 0px 0px;
    }
    .characteristic__text_top {
        font-weight: 600;
        font-size: 55px;
        line-height: 51px;
    }
    .characteristic__text_top span {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
    }
    .characteristic__text_bottom {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }
    .preview__order {
        margin: 0px;
    }
    .test__image {
        width: 30px;
        height: 30px;
        content: url(../images/Test-drive_red.svg);
        margin-right: 15px;
    }
    .order__test {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #E51937;
        filter: none;
        margin-right: 48px;
    }
    .test_label {
        line-height: 25px;
    }
    .order__button {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        width: 220px;
        height: 55px;
        background-color: #E51937;
        color: #fff;
        transition: 0.2s;
    }
    .order__button:hover,
    .order__button:focus {
        color: #E51937;
        background-color: #fff;
    }
}

@media (max-width: 530px) {
    .wrapper {
        max-width: 375px;
    }
    .header__logo img {
        width: 138px;
        height: 42px;
    }
    .burger-menu img {
        width: 23px;
        height: 15px;
    }
    .header__nav {
        justify-content: space-between;
        margin: 5px 5px 28px 2px;
    }
    .nav__link {
        display: none;
    }
    .preview_model {
        max-width: 375px;
        min-height: 270px;
        background: url(../images/Tesla-Wordmark-Red.jpg) no-repeat 0px 78px, url(../images/Tesla+car_mobile.jpg) no-repeat 9px calc(50% + 66px);
    }
    .preview__model__title {
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
    }
    .preview__model__subtitle {
        font-weight: 500;
        font-size: 11px;
        line-height: 2px;
    }
    /* Характеристики */
    .preview__characteristic {
        margin: 0px 0px 26px 0px;
        justify-content: center;
    }
    .characteristic__list {
        max-width: 375px;
        margin: 15px 0px 37px 0px;
    }
    .characteristic__list .characteristic__item:nth-child(1) {
        margin: 0px 46px 0px 0px;
    }
    .characteristic__list .characteristic__item:nth-child(2) {
        margin: 0px 14px 0px 0px;
    }
    .characteristic__img {
        width: 38px;
    }
    .characteristic__list .characteristic__item:nth-child(2) .characteristic__img {
        content: url(../images/Road_icon_mobile.png);
        height: 45px;
        width: 24px;
        margin-right: 14px;
    }
    .characteristic__text_top {
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
    }
    .characteristic__text_top span {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
    .characteristic__text_bottom {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
    }
    .preview__order {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        color: #E51937;
        filter: none;
    }
    .order__test {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: #E51937;
        filter: none;
        margin-right: 32px;
    }
    .test__image {
        width: 22px;
        height: 22px;
        content: url(../images/Test-drive_red.svg);
        margin-right: 7px;
    }
    .order__button {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        width: 160px;
        height: 40px;
        background-color: #E51937;
        color: #fff;
        transition: 0.2s;
    }
    .order__button:hover,
    .order__button:focus {
        color: #E51937;
        background-color: #fff;
    }
}